parameters:
    level: 5
    paths:
        - ./src
    excludePaths:
        - 'src/Component/PersistenceDoctrine/src/DoctrinePersistence.php'
        - 'src/Component/PersistenceEloquent/tests/Persistence/PersistenceEloquentTest.php'
