<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../../../tests/bootstrap.php"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult ="false"
         colors="true">
    <php>
        <server name="KERNEL_CLASS" value="FHPlatform\Component\SearchEngine\Tests\Util\App\Kernel" />
        <env name="APP_DEBUG" value="false" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999" />
        <env name="FHPLATFORM_SEARCH_ENGINE" value="FHPlatform\Component\SearchEngineMs\SearchEngineMs" />
    </php>

    <testsuites>
        <testsuite name="test">
            <directory>./../SearchEngine/tests/Adapter</directory>
        </testsuite>
    </testsuites>
</phpunit>
